<p id="notice"><%= notice %></p>

<%= form_for @blog do |f| %>
  <%= f.text_field :body %>
  <%= f.submit '投稿する' %>
<% end %>

<div>
  <% Blog.all.order('id DESC').each do |blog| %>
    <p>
      <span><%= blog[:id] %>: <%= link_to blog[:body], blog %></span><br />
      <span>hogehoge</span>
    </p>
  <% end %>
</div>
