<%= link_to '戻る', :controller => 'blogs', :action => 'index' %>

<% blog = Blog.find(params[:id]) %>
<p>
  <%= blog[:id] %>: <span>投稿日時: <%= blog[:created_at] %> | <%= link_to 'いいね', {:controller => 'blogs', :action => 'like', :blog_id => blog[:id]}, :method => 'post' %>: <%= blog[:like] %><br />
  <%= blog[:body] %>
</p>

<%= form_for @reply do |f| %>
  <%= f.text_field   :comment %>
  <%= f.hidden_field :blog_id, :value => blog[:id] %>
  <%= f.submit '投稿する' %>
<% end %>

<div>
  <% blog.reply.reverse.each do |reply| %>
    <p>
      <%= reply.comment %> | 投稿日時: <%= reply.created_at %>
    </p>
  <% end %>
</div>
